src/main/mule/data-transformation-v.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config1" doc:name="File Config" doc:id="7e194784-4fe1-46bc-a31f-61a35803a3e6" >
		<file:connection workingDir="C:\Mulesoft\Data-transformation\output" />
	</file:config>
	<file:config name="File_Config2" doc:name="File Config" doc:id="0fa1fda1-4dcc-40bc-90f9-01f1064964df" />
	<file:config name="File_Config" doc:name="File Config" doc:id="777a8684-45bc-449f-b06d-3bcecf59c361" >
		<file:connection workingDir="C:\Mulesoft\Data-transformation\output" />
	</file:config>
	<file:config name="File_Config3" doc:name="File Config" doc:id="46cf5863-9c47-40d8-8341-23155ae0d0c0" >
		<file:connection workingDir="C:\Mulesoft\Data-transformation\output" />
	</file:config>
	<file:config name="File_Config4" doc:name="File Config" doc:id="a3c70f6b-953e-4498-8698-e0382bfb2f1b" >
		<file:connection workingDir="C:\Mulesoft\Data-transformation\output" />
	</file:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="369bf6d6-52c8-487c-af36-e1e84d47f08f" >
		<file:connection workingDir="C:\Mulesoft\Data-transformation\output" />
	</file:config>
	<flow name="data-transformation-vFlow" doc:id="914a0406-07ac-4549-bb0b-702d508fa447" >
		<file:listener doc:name="On New or Updated File" doc:id="43421c77-7207-4f4b-877e-e5c7ae530840" directory="C:\Mulesoft\Data-transformation\Input" moveToDirectory="C:\Mulesoft\Data-transformation\Backup" renameTo="#[&quot;backup-&quot; ++ now() as string {format:'y-M-d-h-m-s'} ++ vars.fileName]" timeBetweenSizeCheckUnit="DAYS" outputMimeType="application/xml">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="DAYS" />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.xml" />
		</file:listener>
		<set-variable value="#[attributes.fileName]" doc:name="File Name" doc:id="556e334a-8da3-458a-99ff-c014d719c80e" variableName="fileName"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="f99d68a1-c571-4e6f-b59d-9993e4838c6c" >
			<route >
				<flow-ref doc:name="to csv" doc:id="7d9877cb-f940-45f3-8c6e-3234da1cc04d" name="to-CSV"/>
			</route>
			<route >
				<flow-ref doc:name="to json" doc:id="ede17098-774c-4625-a012-4a86271eb89c" name="to-json"/>
			</route>
			<route >
				<flow-ref doc:name="to xlsx" doc:id="21a0a51e-22f5-4fa3-a2a3-a445526d5cd0" name="to-xlsx"/>
			</route>
		</scatter-gather>
	</flow>
	<sub-flow name="to-CSV" doc:id="7c12d499-09b8-474e-9c81-4693eae7da2b" >
		<ee:transform doc:name="Transform Message" doc:id="d5c417de-6dfe-4ca7-abaa-5b55d96ebdff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.DATA.*ROW]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write to csv" doc:id="483c7fa9-5cfa-494d-aed0-5993a84a9a38" path="#[&quot;file-&quot; ++ now()as string {format:'Y-M-d-h-m-s'} ++ &quot;-&quot;++ vars.fileName ++ &quot;.csv&quot;]" config-ref="File_Config"/>
	</sub-flow>
	<sub-flow name="to-json" doc:id="60243ca9-8596-4899-bc6d-493fd81539d0" >
		<ee:transform doc:name="Transform Message" doc:id="72cd5b54-1c03-4dbc-a089-6c23aa954a21" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.DATA.*ROW]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write to json" doc:id="084a6a50-491e-4e7c-aa73-df9e028613ea" path="#[&quot;file-&quot; ++ now()as string {format:'Y-M-d-h-m-s'} ++ &quot;-&quot;++ vars.fileName ++ &quot;.json&quot;]" config-ref="File_Config"/>
	</sub-flow>
	<sub-flow name="to-xlsx" doc:id="1ddcb278-c471-4766-aacb-bdccfe66dc4f" >
		<ee:transform doc:name="Transform Message" doc:id="e7effaa0-f7d0-4aca-8b82-ad27d70723ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xlsx
---
"sheet1":payload.DATA.*ROW]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write to xlsx" doc:id="a83d1694-0f5b-4326-a0e2-36f7e8185cf9" path="#[&quot;file-&quot; ++ now()as string {format:'Y-M-d-h-m-s'} ++ &quot;-&quot;++ vars.fileName ++ &quot;.csv&quot;]" config-ref="File_Config"/>
	</sub-flow>
</mule>
